        </main>
        <footer class="bg-gray-200 py-4 text-center text-gray-600">
            <p>Todo App with Node.js, MongoDB & Tailwind CSS</p>
        </footer>
        <script src="/js/main.js"></script>
    </body>
</html>